<p-card>
  <div
    class="card-content"
    (click)="openPubli($event, headerAction)"
    [pTooltip]="publicidade.titulo_botao_link"
    tooltipPosition="top"
  >
    <div class="card-header">
      <p-avatar size="large">
        <p-image [src]="publicidade.imagem | imagePath" alt="Image"></p-image>
      </p-avatar>
      <div class="header-content">
        <h1>{{ publicidade.titulo }}</h1>
        <p>
          {{ publicidade.descricao }}
        </p>
      </div>
      <div class="header-action" #headerAction>
        <p-chip
          *ngIf="publicidadeAtual"
          label="Publicação Atual"
          [style]="{ 'background-color': '#caf1d8', 'color': '#136c34', }"
        >
        </p-chip>

        <p-menu
          #menu
          [model]="items"
          [popup]="true"
          appendTo="body"
          styleClass="custom-menu-position"
        ></p-menu>
        <i class="pi pi-ellipsis-v" (click)="menu.toggle($event)"></i>
      </div>
    </div>

    <div class="card-details">
      <span>
        <ng-container *ngFor="let estados of publicidade.estados">
          <p-chip
            [label]="estados.descricao"
            c
            [style]="{ color: '#343a40' }"
          ></p-chip>
        </ng-container>
      </span>
      <span class="date">
        <i class="pi pi-calendar"></i>
        <p>
          {{
            publicidadeAtual
              ? "Ativo até " +
                (publicidade.dt_fim | date : "dd/MM/yyyy" : "UTC")
              : "Será publicado em " +
                (publicidade.dt_inicio | date : "dd/MM/yyyy" : "UTC")
          }}
        </p>
      </span>
    </div>
  </div>
</p-card>
