<div class="container">
  <div class="header">
    <img src="../../../assets/logoEmbras.png" alt="" />
    <p-avatar label="L" styleClass="mr-2" shape="circle"></p-avatar>
  </div>
  <div class="body">
    <span class="titles">
      <h1>Gerenciamento de Publicidade</h1>
      <p-button
        label="Nova publicidade"
        icon="pi pi-plus-circle"
        (onClick)="openModal()"
      ></p-button>
    </span>
    <div class="search">
      <span style="width: 40%">
        <p-multiSelect
          [formControl]="multiSelectEstados"
          [style]="{ minWidth: '100%' }"
          [options]="estados"
          [autofocusFilter]="false"
          defaultLabel="Estados"
          [filter]="false"
          [showToggleAll]="false"
          [showHeader]="false"
          optionLabel="descricao"
          optionValue="sigla"
        ></p-multiSelect>
      </span>

      <span class="p-input-icon-right" style="width: 60%">
        <i class="pi pi-search"></i>
        <input
          [formControl]="inputPublicidade"
          placeholder="Procure uma Publicação..."
          type="text"
          pInputText
          [style]="{ minWidth: '100%' }"
          icon="pi pi-search"
        />
      </span>
    </div>

    <app-card-publicidade
      *ngIf="publicidadeAtiva"
      [publicidade]="publicidadeAtiva"
      [publicidadeAtual]="true"
      (onEditar)="openModal($event)"
      (onEncerrar)="encerrar($event)"
    >
    </app-card-publicidade>
    <h2 *ngIf="publicidadeAtiva">OUTRAS PUBLICIDADES</h2>
    <ng-container *ngFor="let publicidade of publicidades">
      <app-card-publicidade
        [publicidade]="publicidade"
        (onEditar)="openModal($event)"
        (onEncerrar)="encerrar($event)"
      ></app-card-publicidade>
    </ng-container>
    <div class="group-cards"></div>
  </div>
  <p-toast></p-toast>
  <app-modal-publicidade
    [estados]="estados"
    (onSavePublicidade)="loadPage()"
  ></app-modal-publicidade>
  <div class="loader" *ngIf="isLoading">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>
