<p-dialog
  [header]="title"
  [(visible)]="visible"
  [style]="{ width: '60vw' }"
  [modal]="true"
  [draggable]="false"
  [closeOnEscape]="true"
  [dismissableMask]="true"
>
  <p-progressBar
    *ngIf="isLoading"
    mode="indeterminate"
    [style]="{ height: '6px', width: '100%' }"
  ></p-progressBar>
  <div class="modal" [formGroup]="publicidadeForm">
    <div class="multiselect-wrapper">
      <span>Estados Contemplados *</span>
      <p-multiSelect
        [style]="{ minWidth: '100%' }"
        [formControl]="multiSelectEstados"
        [options]="estados"
        [autofocusFilter]="false"
        defaultLabel="Estados"
        [filter]="false"
        [showToggleAll]="false"
        [showHeader]="false"
        optionLabel="descricao"
        optionValue="id"
      ></p-multiSelect>
      <small
        *ngIf="multiSelectEstados.invalid && multiSelectEstados.touched"
        class="p-error"
      >
        Selecione pelo menos um estado
      </small>
    </div>
    <div class="input-wrapper">
      <span>Titulo *</span>
      <input
        type="text"
        pInputText
        [style]="{ Width: '100%' }"
        formControlName="titulo"
      />
      <small
        *ngIf="
          publicidadeForm.get('titulo')?.invalid &&
          publicidadeForm.get('titulo')?.touched
        "
        class="p-error"
      >
        Título é obrigatório
      </small>
    </div>
    <div class="text-wrapper">
      <span>Descrição *</span>
      <textarea
        rows="5"
        cols="30"
        pInputTextarea
        formControlName="descricao"
      ></textarea>
      <small
        *ngIf="
          publicidadeForm.get('descricao')?.invalid &&
          publicidadeForm.get('descricao')?.touched
        "
        class="p-error"
      >
        Descrição é obrigatória
      </small>
    </div>
    <div class="half-input-wrapper">
      <div class="input-wrapper">
        <span>Título do botão *</span>
        <input
          type="text"
          pInputText
          [style]="{ Width: '100%' }"
          formControlName="titulo_botao_link"
          placeholder="Promoção..."
        />
        <small
          *ngIf="
            publicidadeForm.get('titulo_botao_link')?.invalid &&
            publicidadeForm.get('titulo_botao_link')?.touched
          "
          class="p-error"
        >
          Título do botão é obrigatório
        </small>
      </div>
      <div class="input-wrapper">
        <span>Link do botão *</span>
        <input
          type="text"
          pInputText
          [style]="{ Width: '100%' }"
          formControlName="botao_link"
          placeholder="https://www.exemplo.com/promocao"
        />
        <small
          *ngIf="
            publicidadeForm.get('botao_link')?.invalid &&
            publicidadeForm.get('botao_link')?.touched
          "
          class="p-error"
        >
          Link do botão é obrigatório
        </small>
      </div>
    </div>
    <div class="half-date-wrapper">
      <div class="date-wrapper">
        <span>Data de publicação *</span>
        <p-calendar
          [showIcon]="true"
          [style]="{ minWidth: '100%' }"
          [minDate]="minDate"
          dataType="date"
          dateFormat="dd/mm/yy"
          [formControl]="dt_inicio"
        ></p-calendar>
        <small *ngIf="dt_inicio.invalid && dt_inicio.touched" class="p-error">
          Data de início é obrigatória
        </small>
      </div>
      <div class="date-wrapper">
        <span>Data final da publicação *</span>
        <p-calendar
          [showIcon]="true"
          [style]="{ minWidth: '100%' }"
          dataType="date"
          dateFormat="dd/mm/yy"
          [formControl]="dt_fim"
          [minDate]="dt_inicio.value || minDate"
        ></p-calendar>
        <small *ngIf="dt_fim.invalid && dt_fim.touched" class="p-error">
          Data final é obrigatória
        </small>
      </div>
    </div>
    <div class="img-wrapper upload-file">
      <span class="text-wrapper">imagem da publicidade</span>
      <ng-container *ngIf="!imageUrl">
        <div
          class="img-input-content"
          (click)="fileInput.click()"
          (dragover)="onDragOver($event)"
          (drop)="onDrop($event)"
        >
          <input
            type="file"
            #fileInput
            (change)="onFileSelected($event)"
            accept="image/*"
            style="display: none"
          />
          <i class="pi pi-cloud-upload" style="font-size: 2rem"></i>
          <span class="text"
            >Selecione o arquivo ou arraste aqui para adicioná-lo.</span
          >
          <p-button
            icon="pi pi-paperclip"
            styleClass="p-button-outlined"
            label="Confirmar"
          ></p-button>
        </div>
        <small *ngIf="imageError && !imageUrl" class="p-error">
          Imagem é obrigatória
        </small>
      </ng-container>
      <ng-container *ngIf="imageUrl">
        <div class="img-content">
          <div class="img">
            <p-avatar size="large">
              <p-image [src]="imageUrl | imagePath" alt="Imagem"></p-image>
            </p-avatar>
            <span class="img-txt"> {{ imageName }} </span>
          </div>

          <i
            class="pi pi-trash"
            [style]="{ color: 'red' }"
            (click)="removeFile()"
          ></i>
        </div>
      </ng-container>
    </div>
  </div>
  <p-progressBar
    *ngIf="isLoading"
    mode="indeterminate"
    [style]="{ height: '6px', width: '100%' }"
  ></p-progressBar>

  <ng-template pTemplate="footer">
    <div class="btn-colection">
      <p-button
        icon="pi pi-times"
        label="Cancelar"
        styleClass="p-button-outlined p-button-secondary"
        (onClick)="closeModal()"
      ></p-button>
      <p-button
        icon="pi pi-check"
        label="Confirmar"
        (onClick)="savePublicidade()"
        [disabled]="isFormInvalid"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
